version: '3.8'

networks:
  grafana:
    driver: overlay
  web-proxy:
    external: true

volumes:
  grafana-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/stacks/grafana/grafana/data

services:

  grafana:
    image: grafana/grafana:12.2.1
    networks:
      - grafana
      - web-proxy
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - grafana-data:/var/lib/grafana
    deploy:
      placement:
        constraints:
          - node.platform.arch == x86_64
      labels:
        - prometheus.swarm.enable=true
        - prometheus.swarm.port=3000
        - traefik.enable=true
        - traefik.http.routers.grafana.rule=Host(`grafana.lab.omglolwtfbbq.com`)
        - traefik.http.routers.grafana.entrypoints=web-secure
        - traefik.http.routers.grafana.tls.certResolver=primary
        - traefik.http.routers.grafana.tls.domains[0].main=*.lab.omglolwtfbbq.com
        - traefik.http.services.grafana.loadbalancer.server.port=3000

#  alloy:
#  loki:
#  mimir:
#  seaweed:
#  seaweed-buckets:
