version: '3.8'

networks:
  grafana:
    driver: overlay
  web-proxy:
    external: true

secrets:
  authentik_grafana-client-id:
    external: true
  authentik_grafana-client-secret:
    external: true
  seaweed-credentials:
    file: ./.secret.seaweed-credentials
  slack-webhook:
    file: ./.secret.slack-webhook

volumes:
  grafana-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/stacks/grafana/grafana/data
  seaweed-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /opt/stacks/grafana/seaweed/data

services:

  grafana:
    image: grafana/grafana:12.2.1
    networks:
      - grafana
      - web-proxy
    secrets:
      - authentik_grafana-client-id
      - authentik_grafana-client-secret
      - slack-webhook
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    deploy:
      placement:
        constraints:
          - node.platform.arch == x86_64
      labels:
        - prometheus.swarm.enable=true
        - prometheus.swarm.port=3000
        - traefik.enable=true
        - traefik.http.routers.grafana.rule=Host(`grafana.lab.omglolwtfbbq.com`)
        - traefik.http.routers.grafana.entrypoints=web-secure
        - traefik.http.routers.grafana.tls.certResolver=primary
        - traefik.http.routers.grafana.tls.domains[0].main=*.lab.omglolwtfbbq.com
        - traefik.http.services.grafana.loadbalancer.server.port=3000

#  alloy:
#  loki:
#  mimir:

  seaweed:
    image: chrislusf/seaweedfs:3.99
    command: server -s3
    networks:
      - grafana
    volumes:
      - seaweed-data:/data
    secrets:
      - seaweed-credentials
    environment:
      AWS_SHARED_CREDENTIALS_FILE: /run/secrets/seaweed-credentials
    deploy:
      placement:
        constraints:
          - node.platform.arch == x86_64

  seaweed-buckets:
    image: amazon/aws-cli:2.32.3
    entrypoint: /bin/sh -c
    command: |
      '
      while true; do
        if curl -s --connect-timeout 1 $$AWS_ENDPOINT_URL >/dev/null 2>&1; then
          echo "seaweed is ready"
          break
        fi
        echo "seaweed not ready...waiting"
        sleep 2
      done

      aws s3api create-bucket --bucket mimir-blocks
      aws s3api create-bucket --bucket loki-chunks
      exit 0
      '
    networks:
      - grafana
    secrets:
      - seaweed-credentials
    environment:
      AWS_SHARED_CREDENTIALS_FILE: /run/secrets/seaweed-credentials
      AWS_ENDPOINT_URL: http://seaweed:8333/
      AWS_DEFAULT_OUTPUT: text
    deploy:
      placement:
        constraints:
          # Because the image is not compatible with RPi ARM processor
          - node.platform.arch == x86_64
      restart_policy:
        condition: none
