version: '3.8'

networks:
  web-proxy:
    external: true

secrets:
  namecheap-api-key:
    file: ./.secret.namecheap-api-key
  namecheap-api-user:
    file: ./.secret.namecheap-api-user

services:

  traefik:
    image: traefik:v3.6.7
    ports:
#      - 53:53/tcp
#      - 53:53/udp
      - 80:80
      - 443:443
      - 8080:8080
    networks:
      - web-proxy
    environment:
      - NAMECHEAP_API_KEY_FILE=/run/secrets/namecheap-api-key
      - NAMECHEAP_API_USER_FILE=/run/secrets/namecheap-api-user
    secrets:
      - namecheap-api-key
      - namecheap-api-user
    volumes:
      - ./traefik.yaml:/etc/traefik/traefik.yaml
      - ./route-config:/etc/traefik/config
      - ./acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - prometheus.swarm.enable=true
        - prometheus.swarm.port=8080

  whoami:
    image: traefik/whoami:v1.11.0
    networks:
      - web-proxy
    deploy:
      placement:
        constraints:
          - node.platform.arch == aarch64
      labels:
        - traefik.enable=true
        - traefik.http.routers.whoami.rule=Host(`whoami.lab.omglolwtfbbq.com`)
        - traefik.http.routers.whoami.entrypoints=web-secure
        - traefik.http.routers.whoami.tls.certResolver=primary
        - traefik.http.routers.whoami.tls.domains[0].main=*.lab.omglolwtfbbq.com
        - traefik.http.services.whoami.loadbalancer.server.port=80
        - traefik.http.routers.whoami.middlewares=proxy-auth@swarm
