version: '3.8'

networks:
  lab_default:
    external: true
  web-proxy:
    external: true

services:

  prometheus:
    image: prom/prometheus:v3.7.3
    networks:
      - lab_default
      - web-proxy
    volumes:
      - prometheus-data:/prometheus
    configs:
      - source: prometheus-yml
        target: /etc/prometheus/prometheus.yml
    deploy:
      placement:
        constraints:
          - node.role == manager
          - node.platform.arch == x86_64
      labels:
        - prometheus.swarm.enable=true
        - prometheus.swarm.port=9090
        - traefik.enable=true
        - traefik.http.routers.prometheus.rule=Host(`prometheus.lab.omglolwtfbbq.com`)
        - traefik.http.routers.prometheus.entrypoints=web-secure
        - traefik.http.routers.prometheus.tls.certResolver=primary
        - traefik.http.routers.prometheus.tls.domains[0].main=*.lab.omglolwtfbbq.com
        - traefik.http.services.prometheus.loadbalancer.server.port=9090

configs:
  prometheus-yml:
    file: ./prometheus.yml

volumes:
  prometheus-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "/opt/apps/prometheus"
